@import "tailwindcss";

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}


math-field {
  --contains-highlight-background-color: none;
}

math-field.hide-menu::part(menu-toggle) {
  display: none;
}
