@import "tailwindcss";
@plugin "@tailwindcss/typography";


button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

math-field {
  --contains-highlight-background-color: #ddd;
}

math-field.hide-menu::part(menu-toggle) {
  display: none;
}

.markdown-content * {
  line-height: 1.0;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* gray-300 */
  /* border-radius: 9999px; */
}
