@import "tailwindcss";
@plugin "@tailwindcss/typography";


button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

math-field {
  --contains-highlight-background-color: #ddd;
}

math-field.hide-menu::part(menu-toggle) {
  display: none;
}

.markdown-content * {
  line-height: 1.0;
}
